/.idea
/convert/.env
/convert/php/vendor/
/convert/output_mediawiki/
/create/.env
/create/app/vendor/
/create/app/config.php
/create/html/exceptions/
/create/app/packages/exception-pages/res/typo3/

!.gitkeep
